.reveal ul ul { margin-bottom: 1em;}
.reveal ul,
.reveal ol { line-height: 1.5}
.reveal section img { 
  background: none;
  border: none;
}
.reveal pre code {
  max-height: 500px;
  padding: 1rem;
}

.reveal .wow {
  font-size: 8em;
  position: absolute;
  right: 10%;
  top: 50%;
  font-weight: bold;
  color: #E6E72B;
}

@-webkit-keyframes pulse_animation {
  20% { -webkit-transform: scale(1.30); }
  40% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1); }
  70% { -webkit-transform: scale(1.30); }

}

.reveal .wow {
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 3000ms;
  -webkit-transform-origin:50% 100%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}